# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/

# Env
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Kubernetes temp
*.bak


*.tar
.next/

# Notas internas y archivos locales (no subir)
.kiro/
Requisitos-proyecto.txt
Stack-a-usar.txt
03-prometheus-BACKUP-FUNCIONANDO.yaml
